/* Top Splash area */

.topSplash {
  text-align: center;
  margin-top: 15vh;
}

.topSplash h1 {
  font-size: 3.5rem;
  font-weight: 800;
  font-stretch: 40%;
  margin: -1rem;
}

.topSplash h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

.topSplash hr {
  height: 10px;
  color: rgb(245, 40, 40);
  background: rgb(245, 40, 40);
  width: 350px;
  margin: 1rem auto;
  opacity: 1;
}

.topSplash button {
  height: 3.5rem;
  width: 7.5rem;
  margin: 1rem;
  font-size: 1.1rem;
  margin-bottom: 8rem;
}

.readMore {
  width: 6rem;
  margin: 0rem 47vw;
  background:rgb(245, 40, 40);
  color: white;
  font-size: 0.8rem;
}

.copyright {
  text-align: center;
  font-size: 0.8rem;
  margin-bottom: 3rem;
}